body{
    font-family: 'Poppins', sans-serif;
    background-color: #8e9aaf;
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 25%;
    display: flex;
    background-color: #F4A261;
    justify-content: center;
}

main{
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
}

h1{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 80px;
}

h3{
    text-align: center;
    font-size: 250%;
}


.logo{
    width: 35%px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 30%;
}



.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    
}

.contenido{
    width: 80%;
}




.titulo{
    background-color: #F4A261;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;    
}

.datos-a-editar {
    background-color: #5f6d86;
    padding-top: 4%;
    margin-bottom: 2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 825px;
}

form{
    display: grid;
    grid-template-rows: 40% repeat(7, 6.43%) 15%;
    grid-template-areas: "imagen" "tipo" "raza" "edad" "peso" "tamano" "sexo" "castrado" "comentarios";
    text-align: center;
    font-size: 120%;
    row-gap: 3%;
    align-items: center;
}

.foto-masc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    grid-area: "imagen";
}

.foto-masc img{
    width: 20%;
    height: 20%;
    border-radius: 80px;
}

#image-mascota{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.label{
    width: 50%;
    text-align: left;
    float: left;
}

.tipo, .raza, .edad, .peso, .tamano, .sexo, .castrado, .comentarios{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.tipo{
    grid-area: tipo;
}

.raza{
    grid-area: raza;
}

.edad{
    grid-area: edad;    
}

.peso{
    grid-area: peso;
}

.tamano{
    grid-area: tamano;
}

.sexo{
    grid-area: sexo;
}
.castrado{
    grid-area: castrado;
}

.comentarios{
    grid-area: comentarios;
}

#tipo, #raza, #age, #peso, #tamano, #sexo, #castrado, #comentarios{
    margin-left: 30px;
    width: 35%;
}

#age{
    display: flex;
    justify-content: space-between;
}

#edad{
    width: 45%;
}

#si, #no{
    width: 16%;
}


.button-container{
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-actualizar, .btn-cancelar{
    margin-left: 15px;
    margin-right: 15px;
    width: 40%;
    border-radius: 45px;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
}

.btn-actualizar:hover, .btn-cancelar:hover{
    background-color: #ed9078;
    border: 1px black solid;
}