body{
    font-family: 'Poppins', sans-serif;
    background-color: #8e9aaf;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 25%;
    display: flex;
    background-color:#F4A261;
    justify-content: center;
}

h1 {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 80px;
}

.img-logo {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-logo img {
    width: 30%;
}
/*header{
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: #F4A261;
    height: 25%;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
}*/

main{
    align-items: center;
    justify-content: center;
}

/*h1{
    font-size: 90px;
}*/

h3{
    text-align: center;
    font-size: 250%;
}

p{
    font-size: 400%;
}

/*.img-logo{
    width: 175px;
    height: 150px;
    display: flex;
    justify-content: flex-end;
}

.img-logo img{
    width: 150px;
    height: 150px;
}*/

.gear {
    background-color:rgba(211, 211, 211, 0.007) ;
}


.btn-edicion{
    margin-top: 2%;
    margin-right: 10%;
    background-color: rgba(211, 211, 211, 0.007);
    border-color: rgba(211, 211, 211, 0);
    /*padding-block: 10px;*/
    /*Probando*/
}

.btn-edicion:hover{
    border: black solid 1px;
    border-radius: 90px;    
    
}

.btn-edicion img{
    width: 45px;
    height: 45px;
}



.contenedor{
    display: flex;
    align-items: center; /*¿Está de más?*/
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

.foto-masc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    border-radius: 10px;
    padding-right: 75px;
    padding-left: 75px;
    background-color: #4a5568;
    height: 290px;
    width: 300px;
}

.contenido{
    width: 80%;
    /*min-height: 75%;*/
}




.foto-masc img{
    width: 240px;
    height: 240px;
    border-radius: 120px;
}




.titulo{
    background-color: #F4A261;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 1%;
    padding-bottom: 0.5%;    
}

.texto {
    background-color: #5f6d86;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding-block: 15px;
    margin-bottom: 2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.col-1{
    font-size: x-large;
}

.col-2{
    font-size: medium; /*Para ir preparando, luego cambios*/
    /*Info de la mascota - a completar*/
}

.descripcion{
    padding-block: 50px; /*Para hacer "figurar" el espacio, ver el agregado. Además, ver si se sigue usando*/
    text-align: justify; /*Para un futuro*/
    background-color: #5f6d86;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 40%;
}